h1 {
  padding-left: 20px;
}

h2 {
  text-align: center;
}

h6 {
  padding: 20px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.m7 {
  margin-left: 10% !important;
}

.brand-logo {
  background-color: rgb(0, 119, 255);
  margin: 10px;
}

.card {
  margin-left: 30px;
}

.card-title {
color: black !important;
}
.submit-button {
  text-align: center;
}

#contact-form {
  background-color: white;
}

#home-image {
  width: 300px;
  height: 300px;
}