img {
  float: left;
  margin-right: 20px;
}

.card-action {
  font-size: 50px;
}

#AM-title-block {
  margin-top: 80px;
}
#contact-form {
  margin-top: 100px;
  background-color: whitesmoke;
  opacity: 0.8;
}
