@import url("https://fonts.googleapis.com/css2?family=Ruthie&display=swap");

a.brand-logo.center {
  font-family: "Ruthie", cursive;
  font-weight: bold;
  font-size: 300%;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20%;
}
