@import url("https://fonts.googleapis.com/css2?family=Ruthie&display=swap");

a.brand-logo.center {
  font-family: "Ruthie", cursive;
  font-weight: bold;
  font-size: xxx-large;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20%;
}

em {
  font-size: x-large;
}
.nav-link {
  font-size: x-large;
}
